*.sci linguist-language=Text
*.llasm linguist-language=Text
*.llinc linguist-language=Text
**/arm/*.inc linguist-language=Unix-Assembly
**/x86/*.inc linguist-language=Assembly
**/arm-support/*.inc linguist-language=Unix-Assembly
**/x86-support/*.inc linguist-language=Assembly
midi-plugins/xcom12/src/dosbox_opl/** linguist-vendored
midi-plugins/xcom12/src/munt-2.7.0/** linguist-vendored
midi-plugins/xcom12/src/nuked_opl3/** linguist-vendored
scaler-plugins/xbrz/** linguist-vendored
SR/udis86-1.6/** linguist-vendored
SRW/udis86-1.7.2/** linguist-vendored
