*.o
*.lo
*.la
*.a
*.exe
*.EXE
*.so
.sconsign.dblite
llasm/llasm
**/smk_play/smk_play
**/SR-Main/SR-Main
**/SR-War/SR-War
**/SR-Xcom1/SR-Geoscape
**/SR-Xcom1/SR-Tactical
**/SR-Xcom1/SR-Intro
**/SR-Xcom1/SR-Xcom1
**/SR-Xcom2/SR-Geoscape
**/SR-Xcom2/SR-Tactical
**/SR-Xcom2/SR-Xcom2
**/SR-Septerra/SR-Septerra
**/SR-BI3/SR-BI3.exe
**/SR-BI3/SR-BI3.exe.so

seg*.inc
seg*.llinc
**/SR*/*.sci
**/SR*/*.asm
**/SR*/*.s
**/SR*/*.llasm
Albion-main.asm
Albion-main.s
Albion-main.llasm
war-asm.asm
war-asm.s
war-asm.llasm
geoscape-asm.asm
geoscape-asm.s
geoscape-asm.llasm
tactical-asm.asm
tactical-asm.s
tactical-asm.llasm
intro-asm.asm
intro-asm.s
intro-asm.llasm
Septerra.asm
Septerra.llasm
MS_FIGTR.asm
MS_FIGTR.llasm
WC_FIGTR.asm
WC_FIGTR.llasm
SDI_1R.asm
SDI_1R.llasm

SR*/udis86*/**/Makefile
SR*/udis86*/config.h
SR*/udis86*/config.log
SR*/udis86*/config.status
SR*/udis86*/**/.deps
SR*/udis86*/**/.libs
SR*/udis86*/**/udcli/udcli
SR*/udis86*/**/libtool
SR*/udis86*/**/stamp-h1
SR*/udis86*/**/tests/difftest.sh

midi-plugins/**/include
!midi-plugins/xcom12/include
midi-plugins/**/lib
