*.o
*.lo
*.la
*.a
*.exe
*.EXE
*.so
.sconsign.dblite
llasm/llasm
**/smk_play/smk_play
**/SR-Main/SR-Main
**/SR-War/SR-War
**/SR-Geoscape/SR-Geoscape
**/SR-Tactical/SR-Tactical
**/SR-Intro/SR-Intro
**/SR-Septerra/SR-Septerra

seg*.inc
seg*.llinc
**/SR*/*.sci
**/SR*/*.asm
**/SR*/*.s
**/SR*/*.llasm
Albion-main.asm
Albion-main.s
war-asm.asm
war-asm.s
geoscape-asm.asm
geoscape-asm.s
tactical-asm.asm
tactical-asm.s
intro-asm.asm
intro-asm.s
intro-asm.llasm
Septerra.asm
Septerra.llasm

SR*/udis86*/**/Makefile
SR*/udis86*/config.h
SR*/udis86*/config.log
SR*/udis86*/config.status
SR*/udis86*/**/.deps
SR*/udis86*/**/.libs
SR*/udis86*/**/udcli/udcli
SR*/udis86*/**/libtool
SR*/udis86*/**/stamp-h1
SR*/udis86*/**/tests/difftest.sh

midi-libs/wildmidi*/**/*.in
midi-libs/wildmidi*/**/Makefile
midi-libs/wildmidi*/config.guess
midi-libs/wildmidi*/config.h
midi-libs/wildmidi*/config.log
midi-libs/wildmidi*/config.status
midi-libs/wildmidi*/config.sub
midi-libs/wildmidi*/aclocal.m4
midi-libs/wildmidi*/autom4te.cache
midi-libs/wildmidi*/compile
midi-libs/wildmidi*/configure
midi-libs/wildmidi*/depcomp
midi-libs/wildmidi*/install-sh
midi-libs/wildmidi*/libtool
midi-libs/wildmidi*/ltmain.sh
midi-libs/wildmidi*/missing
midi-libs/wildmidi*/include/config.h
midi-libs/wildmidi*/src/wildmidi
midi-libs/wildmidi*/**/.deps
midi-libs/wildmidi*/**/.libs
midi-libs/wildmidi*/**/stamp-h1

midi-plugins/**/include
midi-plugins/**/lib
